// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "compass/css3/box-sizing";

$bodyColor: #333;
$hoverColor: #999;
$bgColor: #fff;
$breakpoint: 800px;
$pad: 2em;

a, h2 a, h1 a, a:visited, p a, * a, aside.sidebar a{
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  color: #333;
  text-decoration: none;
  &:hover{
    color: #ccc;
  }
}

html, body, *{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: $bodyColor;
  @include box-sizing(border-box);
}

h1{
  font-size: 140%;
  margin-bottom: .5em;
}

h1 a, h1 a:visited{
  color: $bodyColor;
  text-decoration: none;
}

h1 a:hover{
  color: $hoverColor;
}

h2{
  margin-bottom: 1em;
  font-size: 120%;
}

h3{
  font-size: 110%;
  margin-bottom: 1em;
}

h4{
  font-size: 110%;
  margin-bottom: .4em;
}

small, .small{
  font-size: 80%;
}

ul li{
  margin-bottom: .7em;
}

.b-l{
  border-left: 1px solid #ccc;
}

.b-b{
  border-bottom: 1px solid #ccc;
}

p:last-child{
  margin-bottom: 0;
}

.categories a{
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.categories a:hover{
  color: #333;
  border-color: #999;
}

.row{
  clear: both;
  position: relative;
  overflow: hidden;
}

.half{
  width: 50%;
}

.third, .one-third, .third.p{
  width: 33%;
  font-size: 90%;
  @media(max-width: 900px){
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    clear: both;
  }
}

.two-thirds{
  width: 67%;
}

article{
  position: relative;
  padding-top: $pad;
  padding-bottom: $pad;
}

.fullwidth{
  width: 100%;
}

article.hentry p, h2, h3, h4, h5, h6, article.page p, article.page .meta, article.page h1, figure.code, article.hentry .meta{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

article blockquote p{
  max-width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
}

article:after, .clearfix{
  content: " ";
  position: relative;
  display: table;
  clear: both;
  overflow: hidden;
}

article footer{
  clear: both;
}

article.hentry h1{
  text-align: center;
  font-size: 240%;
  margin: 1.6em auto 2em auto;
}

.meta{
  color: #999;
  font-size: 70%;
  display: block;
}



.blog-index article{
  border-bottom: 1px solid rgba(0,0,0,.1);
  h2{
    margin-bottom: .3em;
  }
}

.meta *, .meta a, .meta .categories a{
  color: inherit;
}

body{
  padding: 50px 100px;
  @media(max-width: 660px){
    padding: 50px;
  }
}

body > div, body > div > div{
  background: none;
  border: none;
}

html{
  background: #fff;
}

#main, #content, header, body > nav{
  background: none;
}

strong{
  font-weight: 500;
}

.header{
  padding-bottom: 40px;
}

.homepage .header{
  padding-bottom: 80px;
}

figure img{
  margin-bottom: $pad/2;
}

figure img, p img, .third img, .half img{
  width: 100%;
}

.third p{
  font-size: 90%;
}

figcaption{
  font-size: 80%;
  text-align: center;
}

.b-b{
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.p{
  padding: $pad;
}

.p-b{
  padding-bottom: $pad;
}

.p-t{
  padding-top: $pad;
}

.m{
  margin: $pad;
}

.m-r{
  margin-right: $pad;
}

.m-b{
  margin-bottom: $pad;
}

.m-b-s{
  margin-bottom: $pad/2;
}

.m-l{
  margin-left: $pad;
}

.left{
  float: left;
}

.right{
  float: right;
}

.text-right{
  text-align: right;
}

nav.right a{
  margin-left: 20px;
}

nav a, nav a:visited{
  color: #999;
  font-size: 80%;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.5em;
}

nav a:hover, nav a:visited:hover{
  color: #333;
}

#content{
  border-right: none;
}

// Syntax Highlighting
.code-title {
  text-align: center;
  font-size: 12px;
  line-height: 2em;
  text-shadow: 0 2px 1px #fff;
  color: #999;
  font-weight: normal;
  margin-bottom: 0;
  border-radius: none;
  background: #eee;
  border: none;
}

//.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
//  border: none !important; 
//}

pre, .highlight, .gist-highlight {
  &::-webkit-scrollbar {  height: .5em; background: #eee; }
  &::-webkit-scrollbar-thumb:horizontal { background: #ccc;  -webkit-border-radius: 4px; border-radius: 4px }
}

p{
  margin-bottom: .8em;
  line-height: 1.5em;
}

figure.code{
  margin-top: 1em;
}

footer *{
  font-size: 70%;
  color: #999;
}

blockquote{
  padding-left: 5%;
  border-left: solid 10px #eee;

  p{
    font-size: 140%;
    margin-bottom: .3em;
  }

  footer *{
    font-size: 80%;
    color: #999;
  }
}

/* Sidebar */

.sidebar{
  border-left: 1px solid #ccc;
  font-size: 80%;
}

.sidebar .tweets li{
  position: relative;
  padding-left: 40px;
  .twitter-date{
    top: 3px;
    width: 30px;
    color: #999;
    position: absolute;
    left: -5px;
    text-align: right;
  }
}
